<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-range aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter" (ionChange)="onIonChange($event)"
      [snaps]="true" [min]="1" [max]="10">
      <ion-icon name="speedometer" color="primary" slot="end"></ion-icon>
    </ion-range>
    <ion-button color="primary" expand="full" (click)="textSpeak()">
      <ion-label>Ler texto</ion-label>
      <ion-icon name="volume-high" class="mx-2"></ion-icon>
    </ion-button>
  </div>
</ion-content>